.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VSCode ###
.vscode/

### h2 local db ###
/db/

### Build artefacts ###
bin/
frontend/node_modules/
/src/main/resources/static/v2-static/
/.ai/
/frontend/public/*
!/frontend/public/favicon.png
release/ihne.jar
/src/main/resources/static/assets/
/src/main/resources/static/index.html
/src/main/resources/static/favicon.png

### CRaC checkpoint artifacts ###
crac-check/
dump*.log
*.img