<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::.container})}">

<head>
  <title>Я никогда не!..</title>
</head>

<body>
  <div class="container">
    <div class="row mb-4">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-4">Комната номер</h1>
        <h1 th:utext="${code}">...</h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-11 mx-auto">
        <div class="col-11 col-sm-8 col-md-12 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
          <p class="fs-4"><b>Шаг 1:</b> Комната создана, остальные могут ввести код выше (или открыть QR-код) чтобы
            подключиться и задавать вопросы</p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-11 mx-auto">
        <div class="mx-auto" style="width: max-content;">
          <div id="qrcode"></div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-xl-5 mx-auto">
        <a class="btn btn-primary" th:href="@{/room/__${code}__/host/step2}">Они уже задают!</a>
      </div>
    </div>
    <script type="text/javascript">
      new QRCode(document.getElementById("qrcode"), window.location.href.replace("/host/step1", ""));
    </script>
  </div>
</body>

</html>