<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{old/layout :: layout(~{::title}, ~{::.container})}">

<head>
  <title>Я никогда не!..</title>
</head>

<body>
  <div class="container">
    <div class="row mb-4">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-4">Комната номер</h1>
        <h1 th:utext="${code}">...</h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-11 mx-auto">
        <div class="col-11 col-sm-8 col-md-12 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
          <p class="fs-4"><b>Шаг 2:</b> По желанию загрузи вопросы из набора и <u>после</u> того, как игроки отправили
            достаточно переходи к ним!</p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-11 mx-auto">
        <form id="form" th:action="@{/old/room/__${code}__/host/step2}" th:object="${importParametersDto}"
          method="POST">
          <div class="row">
            <div class="col-1 d-md-none d-lg-block"></div>
            <div
              class="col-11 col-sm-8 col-md-12 col-lg-9 col-xl-8 col-xxl-7 mx-auto mb-2 fs-5 ps-4 ps-md-5 ps-lg-4 text-start">
              <div class="row">
                <div class="col-12 col-md-6 g-0 w-auto">
                  <p class="d-inline">Хочу сразу загрузить</p>
                  <select id="number" class="form-select form-select-sm d-inline py-0 w-auto" th:field="*{size}">
                    <option th:value="10" selected>10</option>
                    <option th:value="20">20</option>
                    <option th:value="30">30</option>
                    <option th:value="40">40</option>
                    <option th:value="50">50</option>
                    <option th:value="60">60</option>
                    <option th:value="70">70</option>
                    <option th:value="80">80</option>
                    <option th:value="90">90</option>
                    <option th:value="100">100</option>
                    <option th:value="200">200</option>
                  </select>
                </div>
                <div class="col-12 col-md-6 g-0 ps-md-1">
                  <p class="d-inline">вопросов из: </p>
                  <select id="datasetName" class="form-select form-select-sm d-inline py-0 w-auto"
                    th:field="*{datasetName}">
                    <option th:value="common" selected>Стандартного набора</option>
                    <option th:value="horny">Пошлого набора</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6 col-md-3 mx-auto">
              <div class="d-grid">
                <button type="submit" class="btn btn-block btn-sm btn-success" id="send">Загрузить</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mt-2 mx-auto">
              <div class="alert alert-success" role="alert" th:if="${okMessage}" th:utext="${okMessage}">
                ...
              </div>
              <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}">
                ...
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 mx-auto">
        <div class="col-11 col-sm-8 col-md-12 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
          <p>
            <a data-bs-toggle="collapse" href="#uploadFile" aria-expanded="false" aria-controls="collapseExample"
              style="text-decoration: dashed underline;">
              А можно загрузить свой файл с вопросами
            </a>
          </p>
          <div id="uploadFile" th:class="${uploadOk == null}? 'collapse' : 'collapse show'">
            <form method="POST" th:action="@{/old/room/__${code}__/host/step2/upload}" enctype="multipart/form-data">
              <div class="form-group mb-0">
                <div class="col-11 col-md-6 mx-auto">
                  <div class="mb-3">
                    <label for="file" class="form-label">Обычный текстовый файл, каждый вопрос с новой строки</label>
                    <input id="file" name="file" class="form-control form-control-sm" type="file">
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Импорт</button>
                </div>
              </div>
            </form>
            <div class="row" th:if="${uploadOk != null || uploadError != null}">
              <div class="col-11 col-md-6 mt-2 mx-auto">
                <div class="alert alert-success" role="alert" th:if="${uploadOk}" th:utext="${uploadOk}">
                  ...
                </div>
                <div class="alert alert-danger" role="alert" th:if="${uploadError}" th:utext="${uploadError}">
                  ...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-11 mx-auto">
        <div class="col-11 col-sm-8 col-md-12 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
          <p class="fs-5">Вопросы можно продолжать задавать в процессе</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 mx-auto">
        <a class="btn btn-primary" th:href="@{/old/room/__${code}__/game}" target="_blank">К вопросам!</a>
      </div>
    </div>
  </div>
</body>

</html>