html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 1.5rem; /* Margin bottom by footer height */
}
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --bs-body-text-align: center !important;
  --bs-text-opacity: 1;
  --bs-body-color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  background: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.6)
  ), url("../img/bg.png") repeat top left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; 
}

main.masthead {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main.masthead h1 {
  font-size: 2rem; 
}
@media (min-device-height: 768px) {
  main.masthead {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  main.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem; 
  }
  main.masthead h1 {
    font-size: 3rem; 
  } 
}

.invalid-feedback {
  background-color: rgba(0,0,0,0.5);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: smaller;
}

a, a:hover {
  color: white;
}
