body,html {
  height: 100%;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; 
}

main.masthead {
  position: relative;
  background: #343a40 url("../img/bg.png") repeat center center;
  padding-top: 8rem;
  padding-bottom: 8rem; 
  height: 100%;
}
main.masthead h1 {
  font-size: 2rem; 
}
@media (min-width: 768px) {
  main.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem; 
  }
  main.masthead h1 {
    font-size: 3rem; 
  } 
}

.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; 
  } 
}
