<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org"
        th:replace="layout :: layout(~{::title}, ~{::.container})">
  <head>
    <title>Я никогда не!..</title>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col mx-auto mb-5">
          <h1>Я никогда не...</h1>
        </div>
      </div>
      <div class="row">
        <div class="col mx-auto mb-3">
          <h2>Чтобы начать играть ты можешь</h2>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-5 col-xxl-4 m-auto">
          <div class="form-group">
            <form id="form-create" th:action="@{/create}" method="POST">
              <div class="d-grid">
                <button type="submit" class="btn btn-lg btn-primary" id="create">Создать новую игру</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto mt-5 mb-5">
          <h2>Либо</h2>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <form id="form-join" th:action="@{/join}" method="GET" class="needs-validation" novalidate>
              <div class="row">
                <div class="col-lg-5 col-xxl-4 mx-auto mb-2">
                  <input id="code" type="number" name="code" class="form-control" min="100000" max="999999" required placeholder="Ввести тут 6 цифр кода уже созданной игры и" autocomplete="off">
                  <div class="invalid-feedback">
                    Введите номер комнаты, 6 цифр от 100000 до 999999
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-xxl-4 m-auto">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-lg btn-primary" id="join">Присоедениться</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  
  </body>

</html>
