<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title th:replace="${title}">Title</title>
  
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">
  
    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css"
          th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css"
          th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
  
    <!-- Custom styles for this template -->
    <link href="../static/css/landing-page.css" th:href="@{/css/landing-page.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Buy me a coffee integration -->
    <script src="../static/vendor/buymeacoffee/widget.prod.min.js"
            th:src="@{/vendor/buymeacoffee/widget.prod.min.js}"
            data-name="BMC-Widget" 
            data-cfasync="false"  
            data-id="kelstar" 
            data-description="Support me on Buy me a coffee!" 
            data-message="Нравится игра? Тогда поддежи меня!" 
            data-color="#BD5FFF" 
            data-position="Right" 
            data-x_margin="18" 
            data-y_margin="18"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                const validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
  </head>
  <body>
    <!-- Masthead -->
    <main class="masthead ">
      <div th:replace="${content}">
    
      </div>
    </main>
    <footer>
      <p>by kelstar</p>
    </footer>
  </body>
  
</html>